In [1]:
### LIBRARIES
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats


### PRICE TIME SERIES DATAFRAME
data = pd.read_csv("/Users/andrei/Documents/asset-allocation-data/processed/2024-02-25/equities_2024-02-25.csv")

In [22]:
data["DATE"] = pd.to_datetime(data["DATE"])
returns = data.set_index("DATE").apply(lambda x: np.log(x) - np.log(x.shift(1)))
days_distancce = returns.index.to_series().diff().dt.days
adjusted_returns = returns / days_distancce

In [25]:
returns

,ASIA_PACIFIC_LARGE_MID_CAP,EMERGING_MARKETS_LARGE_MID_CAP,EUROPE_LARGE_CAP,HONG_KONG_LARGE_CAP,USA_LARGE_CAP,USA_SMALL_CAP
DATE,,,,,,
2007-01-02,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,NaN,NaN,-0.001366,0.005069,NaN,NaN
2007-01-04,NaN,NaN,-0.005792,-0.019181,0.001228,0.003208
2007-01-05,NaN,NaN,-0.010129,0.009230,-0.006103,-0.017985
2007-01-08,NaN,NaN,0.001065,-0.009027,0.002218,0.001442
...,...,...,...,...,...,...
2024-02-19,0.004882,-0.001138,-0.001390,-0.011346,NaN,NaN
2024-02-20,-0.000554,0.004141,-0.002356,0.005672,NaN,NaN
2024-02-21,-0.003864,0.001352,0.002314,0.015609,0.001263,-0.004701
2024-02-22,0.008955,0.008256,0.012284,0.014429,0.020903,0.009530
2024-02-23,0.000873,-0.001341,0.002867,-0.001021,0.000348,0.001414

In [27]:
days_distancce

DATE
2007-01-02    NaN
2007-01-03    1.0
2007-01-04    1.0
2007-01-05    1.0
2007-01-08    3.0
             ...
2024-02-19    3.0
2024-02-20    1.0
2024-02-21    1.0
2024-02-22    1.0
2024-02-23    1.0
Name: DATE, Length: 4458, dtype: float64